<nav class="navbar navbar-light bg-dark px-3 py-4">
    <a href="/inicial">
        <img src="/img/unifae.png" alt="" id="img_logo">
    </a>

    <div>
        <a href="/inicial" class="btn btn-unifae text-decoration-none">Home</a>
        <a href="/createquestion" class="btn btn-unifae text-decoration-none">Crie suas perguntas</a>
    </div>
</nav>